* {margin: 0px; padding: 0px; box-sizing: border-box;}
html
{
    height: 100%;
    width: 100%;
}
body
{
    background-color:#dbdbdb;
    display: flex;
    min-height: 100%;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
    font-weight: 300;

}
a{text-decoration: none;}
img {width: 25px;}
.ISTOK{width: 125px;}
.Ava
{width: 70px; height: 70px; border-radius:100%}
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding: 10px;
    min-width: 100%;
    background-color:#ffffff;
}
.SotrudInfo
{
    display: flex;
    flex-direction: row;
    min-width: 300px;
}
.SI1
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
}
.LogOut
{
    text-decoration: none;
    color: #8194b8;
}
.SI2
{
    padding: 20px;
    display: flex;
    align-items: center;
}
.logo
{
padding: 20px;
display: flex;
align-items: center;
}
.container
{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left:10px ;
    padding-right: 10px;
    min-width: 100%;

}
.linkbars
{

    padding-right: 20px;
    min-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainlinks
{
    min-height:60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.bottomlinks
{
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.DBK
{
    min-width: 70%;
    min-height: 800px;
    background-color:#ffffff;
    border-radius:30px;
    display: flex;
    flex-direction: column;
    padding: 40px;
}


.number
{   
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100px;
    font-size: 20px;
    color: #000000;
    font-weight: 300;
}
.mess
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    color: #000000;
    font-weight: 300;
    
}
.linkone
{
    display: flex;
    flex-direction: row;
    align-items:center;
  
}
.HrefLink
{ margin-left:10px ;}

.Links
{
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-around;
    padding: 10px;
}
.SearchInput
{
    height: 42px;
    width: 300px;
    border-radius:10px;
    border:solid 1px #d9d9d9;
    padding-left: 15px;
}
.SearchBttn
{
    margin-left: 5px;
    height: 42px;
    width: 40px;
    border-radius:10px;
    border:solid 1px #d9d9d9;

}
.SearchBttn:hover
{
    background-color: #ddd;
}
.Search
{   margin: 0px;
    padding: 15px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
}