* {margin: 0px; padding: 0px; box-sizing: border-box;}
html
{
    height: 100%;
    width: 100%;
}
li 
{list-style-type: none;}
.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-left:10px ;
    padding-right: 10px;
    min-width: 100%;
    min-height: 600px;
}
.Dashboard
{
    min-width: 860px;
    min-height: 600px;
    max-height: 100%;
    background-color:#ffffff;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.number
{   
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100px;
    font-size: 20px;
    color: #000000;
    font-weight: 300;
}
.mess
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    color: #000000;
    font-weight: 300;
    
}
.DiagSost
{
    height: 350px;
    width: 320px;
    border-radius: 30px;
}
.DiagOcenok
{
    height: 350px;
    width: 320px;
    border-radius: 30px;
}
.DiagLid
{
    height: 200px;
    width:auto;
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;

}
.DiagRow
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
}
.DashboardTitle
{
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 900;
    color: rgb(79, 108, 202);
}
.diagrammTitle
{
    width: auto;
    text-align: center;
    color: rgb(255, 0, 191);
    font-weight: 800;
    font-family: Stolzl;
}