* {margin: 0px; padding: 0px; box-sizing: border-box;}
html
{
    height: 100%;
    width: 100%;
}
body
{
    background-color:#dbdbdb;
    display: flex;
    min-height: 100%;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
    font-weight: 300;

}
a{text-decoration: none;}
img {width: 25px;}
.ISTOK{width: 125px;}
.Ava
{width: 70px; height: 70px; border-radius:100%}
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding: 10px;
    min-width: 100%;
    background-color:#ffffff;
}
.SotrudInfo
{
    display: flex;
    flex-direction: row;
    min-width: 300px;
}
.SI1
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
}
.LogOut
{
    text-decoration: none;
    color: #8194b8;
}
.SI2
{
    padding: 20px;
    display: flex;
    align-items: center;
}
.logo
{
padding: 20px;
display: flex;
align-items: center;
}
.container
{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left:10px ;
    padding-right: 10px;
    min-width: 100%;

}
.linkbars
{

    padding-right: 20px;
    min-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainlinks
{
    min-height:60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.bottomlinks
{
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Dashboard
{
    min-width: 70%;
    min-height: 800px;
    background-color:#ffffff;
    border-radius:30px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    justify-content: space-around;
}


.number
{   
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100px;
    font-size: 20px;
    color: #000000;
    font-weight: 300;
}
.mess
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    color: #000000;
    font-weight: 300;
    
}
.linkone
{
    display: flex;
    flex-direction: row;
    align-items:center;
  
}
.HrefLink
{ margin-left:10px ;}

.DiagSost
{
    height: 450px;
    width: 420px;
    border:1px solid #d9d9d9;
    border-radius: 30px;
}
.DiagOcenok
{
    height: 450px;
    width: 420px;
    border:1px solid #d9d9d9;
    border-radius: 30px;
}
.DiagLid
{
    height: 150px;
    width: 600px;
    border:1px solid #d9d9d9;
    border-radius: 30px;
}
.DiagRow
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.DashboardTitle
{
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 900;
    color: rgb(79, 108, 202);
}
.DashBttn
{
    width: 160px;
    height: 40px;
    font-size: 15px;
    color:rgb(255, 255, 255);
    border: 0px;
    border-radius: 30px;
    font-family: Stolzl;
    background:linear-gradient(rgb(108, 132, 238),rgb(146, 171, 226))
}
.DashBttn:hover
{
    background:linear-gradient(rgb(86, 105, 190),rgb(121, 143, 190))
}