* {margin: 0px; padding: 0px; box-sizing: border-box;}
html
{
    height: 100%;
    width: 100%;
}
ul
{
    min-width: 50%;
}
#plaque 
{
    display: none;
    transition: 1s;
}
.logo
{
    padding-left: 20px;
    padding-top: 3px;
    display: flex;
    align-items: center;
}
.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-left:10px ;
    padding-right: 10px;
    min-width: 100%;
    min-height: 600px;
}
.Vagner
{
    padding-right: 20px;
    width: 500px;
    overflow:auto;
    scrollbar-width: none;
}
.Applications
{
    min-width: 860px;
    min-height: 600px;
    max-height: 600px;
    background-color:#ffffff;
    border-radius:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

}
.Zayavlenie
{
    padding-left: 10px;
    padding-right: 10px;
    height: 110px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius:15px;
    color: #646991;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    background-color:#FFFFFF;
    transition: 0.2s;
}
.Zayavlenie:hover
{
    transition: 0.2s;
    background-color:#ebebeb;
}
.ZayavBttn
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    height: 20px;
}
#ClientName
{
    color:blue
}
#Status
{
    color:rgb(107, 189, 25);
}
.Dates
{
  height: 35px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.DateCreation
{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    background-color:#9ea0bb63;
    border-radius: 10px;
    width: 120px;
    color:#646991;
    align-items:center;
}
.DateFinnish
{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    background-color:#b9b9b963;
    border-radius: 10px;
    width: 120px;
    color:#646991;
    align-items:center;
}
#messages
{
    display: flex;
    flex-direction: column;
    height: 472px;
    overflow:auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}
.datee
{
    text-align: right;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: auto;
    color:rgb(54, 54, 54);
}
.mess
{
    word-break: keep-all;
    white-space: pre-line;
    max-width: 270px;
    background-color: #9fd2ff;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 7px;
    font-weight: 300;
    font-size: 12px;
    width:fit-content;

}
.left
{
    background-color: #ffffff;
    align-self: flex-start;
}
.right
{
    align-self: flex-end;
    margin-left: auto;
}
.Applics
{
    display: flex;
    flex-direction: column-reverse;
    justify-content:flex-end;
}
.Messanger
{
    border:1px solid #d9d9d9;
    border-radius:20px;
    width: 389px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color:#dcebfd;
}
.MessHeader
{
    text-align: center;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    padding:10px 0px;
    border-radius:20px 20px 0px 0px;
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    position: relative;
    z-index: 1;
    background-color:#fff;
}
.MessTitle
{
    margin-left: 20%;
    font-weight:300 ;
}
.ChangeMess
{
    width: 300px;
    height: 390px;
    border:1px solid #d9d9d9;
    border-radius:10px;
    position: absolute;
    z-index: 9999;
    text-align: left;
    background-color:#ffffff;
    right: 30px;
    top:40px; 
    padding: 0px 20px;
}
.ChangeList
{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    font-weight:300 ;
}
.RefreshBttn
{
    height: 30px;
    width: 70px;
    background-color:rgb(215, 241, 232);
}
.RefreshBttn:hover
{
    background-color:rgb(194, 218, 209);
}
.FinnishBttn
{
    height: 30px;
    width: 70px;
    background-color:#f1d7d7;
}
.FinnishBttn:hover
{
    background-color:#dbc2c2;
}
b>p
{
    color:#d9d9d9;
}
input
{
    border:1px solid #d9d9d9;
    border-radius:10px;
    height: 30px;
}

select
{
    width: 100px;
    height: 30px;
    border:1px solid #d9d9d9;
    border-radius:10px;
    background-color:#ffffff;
}
.paperclip
{
    width: 15px;
}
.SotrudWriteBar
{
    min-height: 65px;
    padding:0px 10px 0px 10px ;
    border-radius:0px 0px 20px 20px;
    background-color:#FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: row;
}
.typetext
{
    max-height: 40px;
    width: 270px;
    min-width: 190px;
    border-radius:10px;
    font-family: Inter;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 10px;
    border:1px solid #d9d9d9;
}
.send
{
    width: fit-content;
    background:none;
    border: none;
}
.send:hover
{
    background:none;
    border: none;
}
.sendpic
{
    width: 40px;
}
input[type="file"] 
{
    display: none;
}

.ThreeDots
{
    width: 40px;
    height: 40px;
    border-radius:100%;
    display: flex;
    align-items:center;
    justify-content: center;
    line-height: none;
    margin-right: -100px;
}
textarea {
    border: none;
    overflow: auto;
    outline: none;
    font-size: 14px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}

#Equip
{
    text-align: left;
}
#Theme
{
    text-align: left;
}

#contextMenu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius:10px;
    padding: 5px;
    z-index: 1000;
  }
  
.messPhoto
{
    width:250px;
    height:auto ;
}
