* {margin: 0px; padding: 0px; box-sizing: border-box;}
html
{
    height: 100%;
    width: 100%;
}
body
{
    background-color:#dbdbdb;
    display: flex;
    min-height: 100%;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
    font-weight: 300;

}
a{text-decoration: none;color: #000;}
img {width: 25px;}
.ISTOK{width: 125px;}
.Ava
{width: 70px; height: 70px; border-radius:100%}
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding: 10px;
    min-width: 100%;
    background-color:#ffffff;
}
.SotrudInfo
{
    display: flex;
    flex-direction: row;
    min-width: 300px;
}
.SI1
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
}
.LogOut
{
    text-decoration: none;
    color: #8194b8;
}
.SI2
{
    padding: 20px;
    display: flex;
    align-items: center;
}
.logo
{
padding: 20px;
display: flex;
align-items: center;
}
.container
{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left:10px ;
    padding-right: 10px;
    min-width: 100%;

}
.linkbars
{

    padding-right: 20px;
    min-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainlinks
{
    min-height:60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.bottomlinks
{
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Applications
{
    min-width: 85%;
    min-height: 800px;
    background-color:#ffffff;
    border-radius:30px;
    display: flex;
    flex-direction: row;
    padding: 20px;

}
.Zayavlenie
{
    padding: 20px;

    height: 110px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid rgb(170, 170, 170);
    border-radius:30px;
    color: #646991;

    display: flex;
    flex-direction: column;
    justify-content:space-around;

}
.Description
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
}
.number
{   
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100px;
    font-size: 20px;
    color: #000000;
    font-weight: 300;
}
.mess
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    color: #000000;
    font-weight: 300;
    
}
.linkone
{
    display: flex;
    flex-direction: row;
    align-items:center;
  
}
.HrefLink
{ margin-left:10px ;}
ul
{
    display: flex;
    flex-direction: column-reverse;
    justify-content:flex-end;
}
.Messanger
{
    margin-left: 20px;
    border:1px solid #aaa;
    border-radius:30px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color:#dcebfd;
}
.MessHeader
{
    text-align: center;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    padding:10px 30px;
    border-radius:30px 30px 0px 0px;
    border-bottom: 1px solid #aaa;
    width: 100%;
    position: relative;
    z-index: 1;
    background-color:#fff;
}
.MessTitle
{
    margin-left: 140px;
   
}
.ChangeMess
{
    width: 300px;
    height: 400px;
    border:1px solid #aaa;
    border-radius:30px;
    position: absolute;
    z-index: 9999;
    text-align: left;
    background-color:#ffffff;
    right: 50px;
    padding: 0px 20px;
}
.ChangeList
{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
   
}
b>p
{
    color:#aaa;
}
input
{
    border:1px solid #aaa;
    border-radius:10px;
    height: 30px;
}
button
{
    width: 100px;
    height: 30px;
    border:none;
    border-radius:10px;
    height: 30px;
    
}
select
{
    width: 100px;
    height: 30px;
    border:1px solid #aaa;
    border-radius:10px;
    background-color:#ffffff;
}
.paperclip
{
    width: 15px;
}
.SotrudWriteBar
{
    min-height: 75px;
    border-radius:0px 0px 30px 30px;
    background-color:#FFFFFF;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: row;
}
.typetext
{
   
    max-height: 50px;
    max-width: 350px;
    border-radius:10px;
    font-family: Inter;
    padding: 15px;
    border:1px solid #8b8b8b;
}
.send
{
    width: 100px;
    height: 40px;
    border-radius:20px;
    border:none;
}
input[type="file"] {
    display: none;
  }