* {margin: 0; padding: 0; box-sizing: border-box;}
span
{color:rgb(0, 183, 255);font-weight: 600;}
html
{
    height: 100%;
    width: 100%;
}
button
{
    width: 160px;
    height: 45px;
    border-radius:20px;
    border:none;
}
body
{
    background-color:#dbdbdb;
    display: flex;
    min-height: 100%;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
    font-weight: 300;

}
a{text-decoration: none;}
li {list-style-type: none;}
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding: 10px;
    min-width: 100%;
    background-color:#ffffff;
}
img {width: 25px;}
.ISTOK{width: 125px;}
.Ava
{width: 70px; height: 70px; border-radius:100%}
.SotrudInfo
{
    display: flex;
    flex-direction: row;
    min-width: 300px;
}
.SI1
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
}
.LogOut
{
    text-decoration: none;
    color: #8194b8;
}
.SI2
{
    padding: 20px;
    display: flex;
    align-items: center;
}
.logo
{
padding: 20px;
display: flex;
    align-items: center;
}
.container
{
    display: flex;
    flex-direction: row;
   
    padding-top: 20px;
    padding-left:10px ;
    padding-right: 10px;
    min-width: 100%;

}
.linkbars
{

    padding-right: 20px;
    min-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainlinks
{
    min-height:60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.bottomlinks
{
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Users
{
    min-width: 45%;
    min-height: 800px;
    background-color:#ffffff;
    border-radius:30px;
    display: flex;
    flex-direction: column;   
   

}
.UserList
{
    display: flex;
    flex-direction: column-reverse;
    justify-content:flex-end;
   margin-top: 20px;
   
}
.NUser
{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom:1px solid #aaaaaa;
    display: flex;
    flex-direction: row;
  justify-content: space-between;
}

.Search
{   margin: 0px;
    padding: 15px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.UserHeader
{
    width: 100%;
}

.BitrixTitle
{
    padding: 30px;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #aaaaaa;
    color: #00a6e7;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items:center;
}
.TwoBttns
{
    display: flex;
    justify-content: space-around;
    padding: 10px 30px 0px 30px;
    align-items:center;
}
#AllUsers{padding: 20px; color:#797979}
.number
{   
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100px;
    font-size: 20px;
    color: #000000;
    font-weight: 300;
}
.mess
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    color: #000000;
    font-weight: 300;
    
}
.linkone
{
    display: flex;
    flex-direction: row;
    align-items:center;
  
}
.HrefLink
{ margin-left:10px ;}