* {margin: 0; padding: 0; box-sizing: border-box;}
html
{
    height: 100%;
    width: 100%;
}

li {list-style-type: none;display:flex;align-items:center;}

.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-left:10px ;
    padding-right: 10px;
    min-width: 100%;
    min-height: 600px;
}

.Equipment
{
    min-width: 400px;
    min-height: 600px;
    max-height: 100%;
    background-color:#ffffff;
    border-radius:20px;
    display: flex;
    flex-direction: column;

    padding: 10px;

}
#EquipList
{
    display: flex;
    flex-direction: column-reverse;
    margin-top:20px;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

.modal {
    color:#4C5395;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);

}
.modal2 {
    color:#4C5395;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);

}

.modal-content {
    background-color: #fefefe;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    width: 450px;
    height: 270px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 100px;
}

#name
{
    border-radius:10px;
    border:1px solid #d9d9d9;
    height: 30px;
    max-width: 300px;
    width: 150px;
    padding: 10px;
}
#serial
{
    border-radius:10px;
    border:1px solid #d9d9d9;
    height: 30px;
    max-width: 300px;
    width: 150px;
    padding: 10px;
}
#depart
{
    border-radius:10px;
    border:1px solid #d9d9d9;
    height: 30px;
    max-width: 300px;
    width: 150px;
    padding: 10px;
}


#name1
{
    border-radius:10px;
    border:1px solid #d9d9d9;
    height: 30px;
    max-width: 300px;
    width: 150px;
    padding: 10px;
}
#serial1
{
    border-radius:10px;
    border:1px solid #d9d9d9;
    height: 30px;
    max-width: 300px;
    width: 150px;
    padding: 10px;
}
#depart1
{
    border-radius:10px;
    border:1px solid #d9d9d9;
    height: 30px;
    max-width: 300px;
    width: 150px;
    padding: 10px;
}


.bttnAddNewEquip
{
    background-color:#7e84b4;
    color:#ffffff;
    font-size: 14px;
    width: 70px;
    height: 35px;
    transition: 0.5s;   
    margin-top: 20px;
    margin-left: 40%;
    border:none;
}
.bttnAddNewEquip:hover
{
    transform: scale(1.05);
    width: 75px;
    height: 40px;
    background-color:#6c729e;
}
.AddEquipHeader
{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items:center;
}
.AddEquipTitle
{
    color:#4C5395;
    font-family: Stolzl;
    font-weight: 400;
}
.EquipDetails
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height:auto;
    justify-content: space-between;

}
.NameDiv
{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
}
.SerialDiv
{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
}
.DepartDiv
{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
}
.DovDiv
{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
}


.ContentPlaque
{
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom:1px solid #d9d9d9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
.SearchInput
{
    height: 32px;
    width: 345px;
    border-radius:10px;
    border:solid 1px #d9d9d9;
    padding-left: 15px;
}
.SearchBttn
{
    margin-left: 5px;
    height: 32px;
    width: 32px;
    border-radius:10px;
    border:solid 1px #d9d9d9;

}
.Search
{    margin: 0px;
    padding: 15px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.EqHeader
{
    width: 100%;
}

.EquipmentTitle
{
    padding: 20px;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    color: #000000;
    font-weight: 300;
    display: flex;
    
    align-items:center;
}
#All{padding: 20px; color:#797979}
.number
{   
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100px;
    font-size: 20px;
    color: #000000;
    font-weight: 300;
}
.mess
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    color: #000000;
    font-weight: 300;
    
}
