* {margin: 0; padding: 0; box-sizing: border-box;}
html
{
    height: 100%;
    width: 100%;
}


li {list-style-type: none;}

.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-left:10px ;
    padding-right: 10px;
    min-width: 100%;
    min-height: 600px;
}

.Sotrud
{
    min-width: 400px;
    min-height: 600px;
    max-height: 100%;
    background-color:#ffffff;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.UserList
{
    display: flex;
    flex-direction: column-reverse;
}
.NUser
{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom:1px solid #d9d9d9;
    display: flex;
    flex-direction: row;
  justify-content: space-between;
}
.SearchInput
{
    height: 32px;
    width: 345px;
    border-radius:10px;
    border:solid 1px #d9d9d9;
    padding-left: 15px;
}
.SearchBttn
{
    margin-left: 5px;
    height: 32px;
    width: 32px;
    border-radius:10px;
    border:solid 1px #d9d9d9;

}
.Search
{   margin: 0px;
    padding: 15px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.SotrudHeader
{
    width: 100%;
}

.SotrudTitle
{
    padding: 20px;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    color: #000000;
    font-weight: 300;
    display: flex;
    
    align-items:center;
}
#AllSotrud{padding: 20px; color:#797979}
.number
{   
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100px;
    font-size: 20px;
    color: #000000;
    font-weight: 300;
}

.mess
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    color: #000000;
    font-weight: 300;
    
}

.paperclip
{
    width: 15px;
}
