* {margin: 0; padding: 0; box-sizing: border-box;}
html
{
    height: 100%;
    width: 100%;
}


li {list-style-type: none;}

.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-left:10px ;
    padding-right: 10px;
    min-width: 100%;
    min-height: 600px;
}

.Sotrud
{
    min-width: 400px;
    min-height: 600px;
    max-height: 600px;
    background-color:#ffffff;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.UserList
{
    display: flex;
    flex-direction: column-reverse;
}
.ContentPlaque
{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom:1px solid #d9d9d9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
.SearchInput
{
    height: 32px;
    width: 345px;
    border-radius:10px;
    border:solid 1px #d9d9d9;
    padding-left: 15px;
}
.SearchBttn
{
    margin-left: 5px;
    height: 32px;
    width: 32px;
    border-radius:10px;
    border:solid 1px #d9d9d9;

}
.Search
{   margin: 0px;
    padding: 15px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.SotrudHeader
{
    width: 100%;
}

.SotrudTitle
{
    padding: 20px;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    color: #000000;
    font-weight: 300;
    display: flex;
    
    align-items:center;
}
#All{padding: 20px; color:#797979}
.number
{   
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100px;
    font-size: 20px;
    color: #000000;
    font-weight: 300;
}

.mess
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    color: #000000;
    font-weight: 300;
    
}

.paperclip
{
    width: 15px;
}

.UserInfo
{
    max-width: 200px;
    min-width: 200px;
}
.LongEmail
{
    max-width: 120px;
    min-width: 120px;
    word-wrap: break-word;
}
a{
    text-decoration: none;
    color: #203cb8;
}
#userList
{
    margin-top: 15px;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

.modal {
    color:#4C5395;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);

}
.modal2 {
    color:#4C5395;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);

}

.modal-content {
    background-color: #fefefe;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    width: 450px;
    height: 450px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 100px;
}

#name
{
    border-radius:10px;
    border:1px solid #d9d9d9;
    height: 30px;
    max-width: 300px;
    width: 150px;
    padding: 10px;
}
#lastname
{
    border-radius:10px;
    border:1px solid #d9d9d9;
    height: 30px;
    max-width: 300px;
    width: 150px;
    padding: 10px;
}
#email
{
    border-radius:10px;
    border:1px solid #d9d9d9;
    height: 30px;
    max-width: 300px;
    width: 150px;
    padding: 10px;
}
#phone
{
    border-radius:10px;
    border:1px solid #d9d9d9;
    height: 30px;
    max-width: 300px;
    width: 150px;
    padding: 10px;
}
#accessLevel
{
    border-radius:10px;
    border:1px solid #d9d9d9;
    height: 30px;
    max-width: 300px;
    width: 150px;
}
#name1
{
    border-radius:10px;
    border:1px solid #d9d9d9;
    height: 30px;
    max-width: 300px;
    width: 150px;
    padding: 10px;
}
#lastname1
{
    border-radius:10px;
    border:1px solid #d9d9d9;
    height: 30px;
    max-width: 300px;
    width: 150px;
    padding: 10px;
}
#email1
{
    border-radius:10px;
    border:1px solid #d9d9d9;
    height: 30px;
    max-width: 300px;
    width: 150px;
    padding: 10px;
}
#phone1
{
    border-radius:10px;
    border:1px solid #d9d9d9;
    height: 30px;
    max-width: 300px;
    width: 150px;
    padding: 10px;
}
#accessLevel1
{
    border-radius:10px;
    border:1px solid #d9d9d9;
    height: 30px;
    max-width: 300px;
    width: 150px;
}
.bttnAddNewSotrud
{
    background-color:#7e84b4;
    color:#ffffff;
    font-size: 14px;
    width: 70px;
    height: 35px;
    transition: 0.5s;   
    margin-top: 20px;
    margin-left: 40%;
    border:none;
}
.bttnAddNewSotrud:hover
{
    transform: scale(1.05);
    width: 75px;
    height: 40px;
    background-color:#6c729e;
}
.AddSotrudHeader
{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items:center;
}
.AddSotrudTitle
{
    color:#4C5395;
    font-family: Stolzl;
    font-weight: 400;
}
.SotrudDetails
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 270px;
    justify-content: space-between;

}
.NameDiv
{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
}
.LastNameDiv
{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
}
.EmailDiv
{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
}
.PhoneDiv
{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
}
.AccessLevelDiv
{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
}