* {margin: 0px; padding: 0px; box-sizing: border-box;}
html
{
    height: 100%;
}
body
{
    background-color:#C3C4CC;
    display: flex;
    min-height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
    font-weight: 300;

}

.container
{
    display: flex;
    flex-direction: row;
    width: 70%;
}
.messenger
{
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    background-color:#D5E3EF;
    width: 70%;
    min-height: 528px;
    border-radius:30px 0px 0px 30px;
    padding: 20px;
    border: 1px solid #d9d9d9;
}
.avatarka
{
    border-radius:100%;
    width: 115px;
    height: auto;
}
.profile
{
    background-color:white;
    width: 30%;
    min-width: 300px;
    min-height: 528px;
    border-radius: 0px 30px 30px 0px;
    padding: 30px;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items:center;
    font-size: 20px;
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
}
.info
{
    position: absolute;
    width: 170px;
    height: 190px;
    top:290px;
    border-radius:20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #323366;
}

.E-mail
{font-size: 12px; text-decoration: none;color: #323366;
}
.bttns
{
    
    display: flex;
    width: 287px;
    justify-content:space-around;
    flex-direction: row;
    

}

div >button
{
    height: 41px;
    background-color:#badaf7;
    text-transform: uppercase;
    border-radius:10px;
    border:none;
    color: #323366;
    font-weight: 500;
    font-size: 12px;
    transition:  0.2s ;
}
button:hover
{
    background-color:#a9c6e0;
    transition:  0.2s ;
}
.LogOut
{
    width: 111px;
}
.appl1
{
    min-height: 89px;
    width: 100%;
    min-width: 300px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 10px;
    background-color:#ffffffb0;
    margin-bottom: 20px;
    border-radius:20px;
}
.divnummess
{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 79px;
    width: 70%;
}
.divnumber
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    min-width: 20%;
    font-size: 20px;
    font-weight: 400;
    color:#5253a1;
}
.divmess
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
    width: 80%;
    min-width: 20%;
    margin-bottom: 20px;
}
#you
{ color:#8b8b8b;}
.divstatus
{
    font-size: 13px;
}
#status
{
    color:#6889A5;
    font-size: 13px;
    font-weight: 600;
}
