* {margin: 0px; padding: 0px; box-sizing: border-box;}
html
{
    height: 100%;
}
p
{
    font-family: Nunito;
}
body
{
    background:linear-gradient(180deg, #6091e6 0%, #6091e6 32%, #75daf3 100%);
    display: flex;
    min-height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
    font-weight: 300;

}
ul
{
    min-width: 50%;
}
.container
{
    display: flex;
    flex-direction: row;
    background-color: #ffffff9c;
    padding: 20px;
    border-radius: 30px;
    box-shadow:1px 5px 10px 1px #5c78cd73;
    width: 800px;
}
.Zayavlenie
{

    padding-left: 10px;
    padding-right: 10px;
    height: 110px;
    width: 100%;
    border-radius:15px;
    border:none;
    color: #646991;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    background-color:#FFFFFF;
    box-shadow:1px 5px 10px 1px #5c78cd73;
    transition: 0.2s;
}
.Zayavlenie:hover
{
    transition: 0.2s;
    background-color:#ebebeb;
}
.ZayavBttn
{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    height: 20px;
    width: 100%;
}
#ClientName
{
    color:blue
}
#Status
{
    color:rgb(107, 189, 25);
}
.Dates
{
  height: 35px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.DateCreation
{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    background-color:#9ea0bb63;
    border-radius: 10px;
    width: 180px;
    color:#646991;
    align-items:center;
    height: 15px;
}
.DateFinnish
{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    background-color:#b9b9b963;
    border-radius: 10px;
    width: 180px;
    color:#646991;
    align-items:center;
    height: 15px;
}
.messenger
{
    width: 100%;
    height: 528px;
    overflow:auto;
    scrollbar-width: none;
    border-radius:30px;
    padding: 20px;
    padding-top: 7px;

}
.close
{
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
    width: 40px;
    margin-bottom: 10px;
}
.modal{
    color: #000000;
    font-weight: 300;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);

}
.paperclip
{
    width: 15px;
}
.send
{
    width: 31px;
    height: 31px;
    background:none;
    border:none;
    transition:  0.2s ;
}
.sendpic
{
    width: 40px;
}
.typetext
{
    
    margin-left: 20px;
    max-height: 50px;
    width: 70%;
    border-radius:10px;
    border-color: #d9d9d9;
    font-family: Inter;
    padding: 15px;
}
textarea {
    border: none;
    overflow: auto;
    outline: none;
    font-size: 14px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}
.sendmess
{
    width: 100%;
    min-height: 65px;
    border-radius:30px;
    background-color:#FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: row;
    padding-right: 20px;
}
#messages
{
    display: flex;
    flex-direction: column;
    height: inherit;
    overflow:auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    background-color:#d3e3ff;
}
input[type="file"] {
    display: none;
}
.modal-content
{
    background-color: #fefefe;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.datee
{
    text-align: right;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: auto;
    color:white;
}
.messPhoto
{
    width:250px;
    height:auto ;
}
.mess
{
    word-break:keep-all;
    white-space: pre-line;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 7px;
    box-shadow:1px 5px 10px 1px rgba(0, 0, 0, 0.11);

}

.left
{
    background-color: #f7f7f7;
    align-self: flex-start;
}
.right
{
    background-color: #4b87ff;
    color:white;
    align-self: flex-end;
    margin-left: auto;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}
.avajp
{
    display: flex;
    justify-content: center;
}
.sendback
{
    width: 20px;
    height: 20px;
    border:none;
}
.avatarka
{
    
    border-radius:100%;
    width: 115px;
    height: auto;
}

.profile
{
    background-color:#679dff;
    width: 60px;
    height: 470px;
    border-radius:30px;
    padding: 10px;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items:flex-start;
    font-size: 20px;
    transition: 0.2s;
}

.info
{
    transition: 0.02s;
    opacity: 0;
    margin: 20px;
    min-width: 30%;
    height: 90px;
    top:290px;
    border-radius:20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    justify-content: space-around;
    color: #ffffff;
}

.E-mail
{font-size: 12px; text-decoration: none;color: #323366;
}
.bttns
{
    
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    margin-left: 4px;
    height: 150px;
    
}

div >button
{
    background:none;
    height: 41px;
    border-radius:10px;
    border:none;
    font-weight: 500;
    font-size: 12px;
    transition:  0.2s ;
    display: flex;
    cursor: pointer;
}
button:hover
{
    transition:  0.2s ;
}

.appl1
{
    min-height: 89px;
    width: 100%;
    min-width: 300px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 10px;
    background-color:#ffffffb0;
    margin-bottom: 20px;
    border-radius:20px;
}
.divnummess
{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 79px;
    width: 70%;
}
.divnumber
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    min-width: 20%;
    font-size: 20px;
    font-weight: 400;
    color:#5253a1;
}
.divmess
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
    width: 80%;
    min-width: 20%;
    margin-bottom: 20px;
}
#you
{ color:#8b8b8b;}
.divstatus
{
    font-size: 13px;
}
#status
{
    color:#6889A5;
    font-size: 13px;
    font-weight: 600;
}
#Equip
{
    text-align: left;
}
#Theme
{
    text-align: left;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}
#submitRating
{
    cursor: pointer;
    font-family: Nunito;
    border:none;
    background-color:#4589ff;
    font-weight: 400;
    color:#FFFFFF;
    border-radius:10px;
    height: 30px;
    width: 90px;
    margin-left: 20px;
}

#ratingStars input[type="radio"] {
    display: none;
}

.starIcon
{
    fill:#4589ff;
}

input:checked + label svg path{
    fill: #ff006a;
}
.reqPath
{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
#ratingForm
{
    display: flex;
    align-items:center;
    justify-content:center;
    width:auto;
    margin-top: 10px;
}
.sidebarImg
{
    height: 30px;
    width: auto;
    cursor: pointer;
}
.containProfStack
{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    padding-top: 10px;
}

.divStack
{
    width: 30px;
    margin-left: 15px;

}
.labelBttns
{
    margin-left: 10px;
    margin-top: 5px;
    font-family: Nunito;
    opacity: 0;
    font-size: 15px;
    color:white;
}
#add-form
{
    font-family: Nunito;
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 20px 20px;
    flex-direction: column;
    height:400px;
}
#theme, #equip, #content,#name, #lastname, #email, #password,#password2
{
    font-family: Nunito;
    box-shadow:1px 5px 10px 1px #4589ff4a;
    border:1px solid #4589ff8a;
    border-radius:10px;
    padding: 0px 10px;
    width: 170px;
    height: 30px;
}
#theme, #equip, #content,#name, #lastname, #email, #password,#password2:focus
{
    outline: 0px;
}
#content
{
    padding-top: 7px;
    height: 200px;
    width: 350px;
}
#send, #set
{
    font-family: Nunito;
    color:#FFFFFF;
    background-color:#4589ff;
    box-shadow:1px 3px 10px 1px #4589ff4a;
    border-radius:20px;
    width: 85px;
    height: 31px;
    padding: 7px 10px;
    margin-left: 130px;
}

#i1,#i2,#i3,#i4
{
    z-index: 2;
    position: absolute;
    width: 300px;
    height: 100px;
    background-color:#c6ffcb9c;
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;
    border-radius:20px;
    text-align: center;
    padding-top: 25px;
    font-family: Inter;
    color: rgb(26, 107, 30);
    display: none;
}

#i2,#i3,#i4
{
    background-color:#ffc6c69c;
    color: rgb(107, 26, 26);
}
#set
{
    margin-left:85px;
}
#set-form
{
    font-family: Nunito;
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 20px 20px;
    flex-direction: column;
    height: 400px;

}
.wid
{
    width: 300px;
}

div > #name,#lastname, #email, #password,#password2
{
    margin-left:40px;
}