* {margin: 0px; padding: 0px; box-sizing: border-box;}
html
{
    height: 100%;
}
body
{
    background-color:#C3C4CC;
    display: flex;
    min-height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
    font-weight: 300;

}
a{height: 20px;}
.container
{
    display: flex;
    flex-direction: row;
    width: 70%;
}
.messenger
{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    background-color:#D5E3EF;
    width: 70%;
    min-height: 528px;
    border-radius:30px 0px 0px 30px;
    border: 1px solid #d9d9d9;
    
}
#messages
{
    display: flex;
    flex-direction: column;
    height: 393px;
    overflow:auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}
.datee
{
    text-align: right;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: auto;
    color:rgb(54, 54, 54);
}
.messPhoto
{
    width:250px;
    height:auto ;
}
.mess
{
    word-break: break-all;
    white-space: pre-line;
    max-width: 300px;
    background-color: #9fd2ff;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 7px;

}

.left
{
    background-color: #ffffff;
    align-self: flex-start;
}
.right
{
    align-self: flex-end;
    margin-left: auto;
}
.sendmess
{
    width: 100%;
    min-height: 75px;
    border-radius:0px 0px 0px 30px;
    background-color:#FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: row;
    border-top: 1px solid #d9d9d9;
}
.typetext
{
    
    margin-left: 20px;
    max-height: 50px;
    width: 70%;
    border-radius:10px;
    border-color: #d9d9d9;
    font-family: Inter;
    padding: 15px;
}
textarea {
    border: none;
    overflow: auto;
    outline: none;
    font-size: 14px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}
.send
{
    width: 31px;
    height: 31px;
    background:none;
    border:none;
    transition:  0.2s ;
}
#contextMenu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius:10px;
    padding: 5px;
    z-index: 1000;
  }
  
button:hover
{
    transition:  0.2s ;
}
.sendpic
{
    width: 40px;
}
.messheader
{
    height: 60px;
    width: 100%;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius:30px 0px 0px 0px ;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.sendback
{
    width: 20px;
    height: 20px;
    border:none;
}

.avatarka
{
    border-radius:100%;
    width: 115px;
    height: auto;
}
.avajp
{
    display: flex;
    justify-content: center;
}
.profile
{
    background-color: white;
    width: 30%;
    min-width: 300px;
    min-height: 528px;
    border-radius: 0px 30px 30px 0px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
}
.info
{
    margin: 20px;
    min-width: 30%;
    height: 90px;
    top: 290px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    color: #323366;
}
.FirstName
{font-weight: 600;}
.SecondName
{font-weight: 600;}
.E-mail
{font-size: 12px; text-decoration: none;color: #323366;
}
.CreateApplication
{
    width: 163px;
}
.LogOut
{
    width: 111px;
}
.appl1
{
    min-height: 89px;
    width: 644px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 10px;
    background-color:#ffffffb0;
    margin-bottom: 20px;
    border-radius:20px;
}
.divnummess
{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 79px;
}
.divnumber
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    font-size: 20px;
    font-weight: 400;
    color:#5253a1;
}
.divmess
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
    width: 365px;
    margin-bottom: 20px;
}
#you
{ color:#8b8b8b;}
.divstatus
{
    color:#6889A5;
}
#status
{
    font-size: 16px;
    font-weight: 600;
}
input[type="file"] {
    display: none;
}
.SV
{
    width: 25%;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    color: #8b8b8b;
}

.SvodkaZayavleniya
{
    height: 41px;;
    display: flex;
    width: 70%;
    justify-content:space-between;
    flex-direction: row;
    font-size: 12px;
    font-weight: 300;
    color: #8b8b8b;
}
.paperclip
{
    width: 15px;
}
.delete {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    background: none;
    border: none;
}