* {margin: 0px; padding: 0px;  box-sizing: border-box;}
html
{
    height: 100%;
}
body
{
    background: linear-gradient(180deg, rgb(43, 102, 185) 0%, rgb(96, 145, 230) 32%, rgb(117, 218, 243) 100%);
    display: flex;
    min-height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
    font-weight: 300;
}
.container
{
    border-radius: 30px;
    background-color: #ffffff9c;
    width: 320px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    box-shadow: 1px 5px 12px 0px #5ca3c4;
}
.registr
{
    font-family: Nunito;
    font-size: 12px;
    text-align: center;
    width: 150px;
}
.Zareg
{
    text-decoration: none;
    color: #4B7EC9;
    font-weight: 600;
}
/* Подумай над шрифтом */
.LinkBtn
{
    width: 170px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}
.LogIn
{
    font-family: Nunito;
    width: 135px;
    height: 45px;
    border-radius: 7px;
    background-color:#4B7EC9;
    border:none;
    color:white;
    font-size: 13px;
    white-space: pre-line;/*//////////!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!////////////////*/
    margin-left: 0px;
    box-shadow: 1px 5px 12px 0px rgb(54 139 155 / 50%);
    transition: height 0.1s, width 0.1s ;
}
.LogIn:hover
{
    width: 140px;
    height: 48px;
    transition: height 0.1s, width 0.1s ;
}
div > div, button {margin-bottom: 20px;}

div > input
{
    outline: none;
    color:rgb(0, 0, 0);
    display: flex;
    border:none;
    min-width: 187px;
    min-height:37px;
    flex-direction: column;
    border-radius: 7px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 1px 5px 12px 0px rgb(54 139 155 / 50%);
    
}
.description
{
    min-width: 442px;
    min-height: 113px;
    padding: 5px 5px;
    resize: none;
}
.entryTitle
{
    text-align: center;
    font-size: 30px;
    color:#265dac;
    font-weight: 700;
    font-family: Nunito;
}