* {margin: 0px; padding: 0px;  box-sizing: border-box;}
html
{
    height: 100%;
}
body
{
    background: linear-gradient(180deg, rgb(43, 102, 185) 0%, rgb(96, 145, 230) 32%, rgb(117, 218, 243) 100%);
    display: flex;
    min-height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
    font-weight: 300;
}
.container
{
    border-radius: 30px;
    background-color: #ffffff9c;
    width: 520px;
    height: 678px;
    box-shadow: 1px 5px 12px 0px #5ca3c4;
}
.header
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color:#c6eaff;
    width: 520px;
    height: 60px;
    border-radius: 30px 30px 0px 0px;
    color:rgb(255, 255, 255);
}
/* Подумай над шрифтом */
.headertitle
{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
}
.content
{
    width: 520px;
    height: 668px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

}
.registr
{
    font-family: Nunito;
    width: 140px;
    font-size: 12px;

}
.LogIn
{
    font-family: Nunito;
    width: 161px;
    height: 45px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    padding-top: 7px;
    color:#4B7EC9;
    font-size: 12px;
    white-space: pre-line;/*//////////!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!////////////////*/
    margin-left: 0px;
    padding-top: 8px;

}
.Login
{
    font-family: Nunito;
    text-decoration: none;
    color: #4B7EC9;
    font-weight: 600;
}
.LinkBtn
{
    font-family: Nunito;
    font-size: 12px;
    text-align: center;
    width: 187px;
    padding: 20px;
}
.BtnSend
{
    width: 520px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.footerPlaq
{
    display: flex;
    justify-content: space-around;
    align-items:center;
}
div > label,input,textarea,button {margin-left: 40px; }
div > input,textarea
{
    font-family: Nunito;
    color:rgb(0, 0, 0);
    display: flex;
    border:none;
    min-width: 187px;
    min-height:37px;
    flex-direction: column;
    border-radius: 7px;
    font-size: 14px;
    padding-left: 10px;
    box-shadow: 1px 5px 12px 0px rgb(54 139 155 / 50%);
}

.FullName
{
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.send
{
    font-family: Nunito;
    width: 161px;
    height: 37px;
    border-radius: 7px;
    background-color:#4B7EC9;
    border:none;
    color:white;
    font-size: 14px;
    white-space: pre-line;
    margin-left: 0px;
    box-shadow: 1px 5px 12px 0px rgb(54 139 155 / 50%);
    transition: height 0.1s, width 0.1s ;
}
.send:hover
{
    width: 166px;
    height: 43px;
    transition: height 0.1s, width 0.1s ;
}

.Zareg
{
    text-decoration:none;
    color:#4B7EC9;
    font-weight: 600;
}
.description
{
    min-width: 442px;
    min-height: 113px;
    padding: 10px 10px;
    resize: none;
}
.plaqueTitle
{
    text-align: center;
    font-size: 30px;
    color:#265dac;
    font-weight: 700;
    font-family: Nunito;
    margin: 20px;
}

input, textarea:focus {
    outline: 0px;
    font-family: Nunito;
}