* {margin: 0px; padding: 0px;  box-sizing: border-box;}
html
{
    height: 100%;
}
body
{
    background-color: rgb(100, 100, 100);
    display: flex;
    min-height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
    font-weight: 300;
}
.container
{
    border-radius:  0px 0px 30px 30px;
    background-color:#D9D9D9;
    width: 520px;
    height: 678px;

}
.header
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color:#262626;
    width: 520px;
    height: 60px;
    border-radius: 30px 30px 0px 0px;
    color:rgb(255, 255, 255);
}
/* Подумай над шрифтом */
.headertitle
{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
}
.content
{
    width: 520px;
    height: 668px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

}
.registr
{
    width: 140px;
    font-size: 12px;

}
.LogIn
{
    width: 161px;
    height: 45px;
    border-radius: 7px;
    background-color:#4B7EC9;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding-top: 7px;
    color:white;
    font-size: 13px;
    white-space: pre-line;/*//////////!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!////////////////*/
    margin-left: 0px;
    box-shadow: 1px 5px 12px 0px rgb(167, 167, 167);
    transition: height 0.1s, width 0.1s ;
}
.LogIn:hover
{
    width: 166px;
    height: 50px;
    transition: height 0.1s, width 0.1s ;
}
.LinkBtn
{
    width: 170px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.BtnSend
{
    width: 520px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.footerPlaq
{
    display: flex;
    justify-content: space-around;
    align-items:center;
}
div > label,input,textarea,button {margin-left: 40px; }
label ~ input,textarea
{
    color:rgb(0, 0, 0);
    display: flex;
    border:none;
    min-width: 187px;
    min-height:37px;
    flex-direction: column;
    border-radius: 7px;
    font-size: 14px;
    padding-left: 10px;
    box-shadow: 1px 5px 12px 0px rgba(167, 167, 167, 0.5);
}

.FullName
{
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.description
{
    min-width: 442px;
    min-height: 113px;
    padding: 5px 5px;
    
}
.send
{
    width: 161px;
    height: 37px;
    border-radius: 7px;
    background-color:#515151;
    border:none;
    text-transform: uppercase;
    color:white;
    font-size: 13px;
    white-space: pre-line;
    margin-left: 0px;
    box-shadow: 1px 5px 12px 0px rgb(167, 167, 167);
    transition: height 0.1s, width 0.1s ;
}
.send:hover
{
    width: 166px;
    height: 43px;
    transition: height 0.1s, width 0.1s ;
}

.Zareg
{
    text-decoration:none;
    color:#4B7EC9;
    font-weight: 600;
}